/* Color Palette
Primary: #2E3C61 
Secondary:   #BDC5CB
Tertiary/Accent Color: #F5F563 


Typography: Headlines: font-family: 'Allura', cursive; 


Body Copy: font-family:  'Old Standard TT', serif;

/*Global*/

html {
    background: #F5F563;
}

body { 
    background-color: rgba(230, 230, 230, .2);
    margin: 10px;
    padding: 10px;
}
  
.zero {
    background: #BDC5CB;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 15%;
    border-radius: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto
}
 
h1 {
    font-family: 'Allura', cursive;
    font-size: 6.8125em; /* 93px/16px=5.8125em */
    margin: 0;
    text-align: center;
    color: #2E3C61;
}
h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
    background: #2E3C61;
    color: #F5F563;
    margin: 20px 2%;
}

p,
h3 {
    font-family: 'Old Standard TT', serif;
}

/*Typography*/

/*Navigation*/

nav {
    text-align: center;
}

a:link {    
    background: #BDC5CB;
    border-radius: 20px;
    color: #2E3C61;
    display: block;
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    height: 35px;
    line-height: 20px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    padding-top: 7px;
}

a:visited {
  background: #2E3C61;
    border-radius: 20px;
    color: #F5F563;
    display: block;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    padding-top: 7px;
}

a:active,
a:focus,
a:hover {
    color:  #F5F563;
    background: #BDC5CB;
    transition: all .5s;
}


a:focus {
   background: #BDC5CB;
color: #F5F563;
    transition: all .5s;
 
}
    
nav li { 
    display: inline-block;  
    list-style: none;
}

/* Div */

section {   
    background: rgba(230,230,230, .4);
    float: left; 
    text-align: center;
    list-style: none;
    margin: 2%;
    width: 96%;   
       
}
section li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 5px;
    padding-bottom: 10px;
    padding-right: 4%;
  
}
.contact a {
    display: inline-block;
     background: #BDC5CB;
    border-radius: 50px;
    color: #2E3C61;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.controls a {
    background: none;
    border-radius: none; 
}
.controls a img {
    height: 100px;
    width: 100px; 
}

/* Gallery */

figure {
    display: inline-block;
    float: left;
    height: 100%;
    background: rgba(230,230,230, .4);
    text-align: center;
    margin: 2%;
    width: 98%;
}

figure img {
    
    text-align: center;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}
/* Media Queries */


/* Mobile & Tablet */


@media screen and (max-width: 768px ) {
html {
    background: #BDC5CB;
  }
nav {
    margin: none;
    }
h1 {
    background-color: #F5F563;
    font-size: 45px;
  }
.zero {
        padding: none;
    }
h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    background: #2E3C61;  
    margin: 10px;
    
    }
section li {
        margin : none;
        padding-right: 20%;
    }
section {
       margin-top: 23px;
    }

    
    p,
    h3 {
        font-size: 17px;        
    }
    
    section li {
        font-size: 13px;
    }

a:active,
a:focus,
a:hover {
    color:  #F5F563;
    background: #BDC5CB;
    transition: all .5s;
}

a:visited {
  background: #F5F563; 
    color: #2E3C61;
}
}
