/* Color Palette
Primary: #522426  #646464
Secondary:#8BA8A5   #2E3C61
Tertiary/Accent Color: #F1BA73, #A49581, #D8CEBC    #C07E94   #271C16
#E8E83C

#364775

#F5F563

#BDC5CB


Typography: Headlines: font-family: 'Old Standard TT', serif;


Body Copy: font-family: 'Cabin', sans-serif;

Name font: font-family: 'Kaushan Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Niconne', cursive;
font-family: 'Allura', cursive;
font-family: 'Montez', cursive;
font-family: 'Norican', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Mrs Saint Delafield', cursive;


backgrounds:
http://subtlepatterns.com/?s=fashion */


/*Global*/

html {
    background: blue;
}

body { 
    background-color: rgba(230, 230, 230, .2);
    margin: 10px;
    padding: 10px;
}
  
.zero {
    background: indigo;
    padding: 10px;
    border-radius: 10px;
}

img {
/*    margin: 10px;*/
    width: 20%;
    float: left;
    border-radius: 10px; 
}

h1 {

    font-size: 5.6125em; /* 93px/16px=5.8125em */
  margin: 0;
    text-align: center;
}
h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 4em;
    background: orange /*opacity*/;
    margin: 20px 2%;
}

p,
h3 {
    font-family: 'Cabin', sans-serif;
}

div {
    display: inline-block;
    margin: 30px;
    font-family: 'Old Standard TT', serif;
}
/*Typography*/

/*Navigation*/
nav {
    padding-left: 10em;
    text-align:0 auto;
}
a:link {    
    background: green;
    border-radius: 20px;
    color: orange;
    display: block;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    height: 35px;
    line-height: 20px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    padding-top: 7px;
}

a:visited {
  background: green;
    border-radius: 20px;
    color: black;
    display: block;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    padding-top: 7px;
}

a:active,
a:focus,
a:hover {
    color: orange;
    background: purple;
    transition: all .5s;
}


a:focus {
   background: darkmagenta;
color: orangered;
    transition: all .5s;
 
}
    
nav li { 
    display: inline-block;  
    list-style: none;
}

/* Div */

section {   
    background: rgba(230,230,230, .4);
    float: left; 
    text-align: center;
    list-style: none;
    margin: 2%;
    width: 96%;   
       
}
section li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 5px;
    padding-bottom: 10px;
    padding-right: 4%;
  
}
/* Videos and Sound */
