/*Global*/

html {
    font-family: 'Old Standard TT', serif;
}

body { 
    background: #8888B9;
}
img {
    width: 50%;
}
/*Layout*/


/*Typography*/


/*Navigation*/
a {
    background: gold;
    border-radius: 50px;
    display: block;
    height: 50px;
    width: 100px;
}
li { 
    display: inline-block;
    text-align: center;   
}